.header-container {
  align-items: center;
  display: flex;
  margin: 2.5rem auto;
  max-width: 122rem;
}

.header-button__container {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex: 1;
}

.header-button__container .button-connect__wallet {
  padding: 0.75rem 1.25rem;
  border: thin solid var(--color-overlay);
  font-size: 1.55rem;
  transition: background-color 0.2s;
}

.header-button__container .button-connect__wallet:hover {
  background-color: #8464ff;
}
