@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");

:root {
  --background-color: #192509;
  --color-overlay: #62afff;
  --form-label-color: #134e7e;
  --primary-color: #134e7e;
  --primary-fill-color: white;
  --loss-color: #c13535;
  --win-color: #0f6d31;
  --step-para-color: #035396;
  --connect-wallet-hover-color: #165d97;
  --bet-amount-bg-color: #1382dd;
  --input-bg-color: #0b2f4d;
  --input-border-color: #62afff;
  --pause-bg-color: rgba(0, 0, 0, 0.65);
  --error-text-color: #9c1414;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(#0e76cc, #64b0e6, #8ecfef);
  margin: 0px;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
}

@media screen and (max-width: 640px) {
  body {
    margin: -0.5rem 2rem 2rem;
  }
}
